# Terraform folder
**/.terraform

# State files
*.tfstate
*.tfstate.*

# tfvars files
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Error files
crash.log

# misc
.DS_Store
